body{
    font-family:sans-serif;
    color: #464646;
    line-height:1.5em;
    font-size: 1em;
    margin: 65px 1.5em 0px;
    padding: 0px;
}

/* menu */
#navbar {
    background-color: #e3e3e3;
    width:100%;
    color: #393232;
    position:fixed;
    top: 0;
    left: 0;
} 

#navbar ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 1000px;
}

#navbar li {
    padding: 0;
    margin: 0;
    float: left;
    position: relative;
    display: block;
    margin: 0 25px 0 0;
}

#navbar ul li a {
    display: block;
    color:#8d7cfe;
    padding: 10px;
}

/* submenu */
#navbar ul li ul {
    display: none;
    position: absolute;
    left: 0;
    top: 42px;
    background-color:#eeeeee;
    width: auto;
}

#navbar .submenu li {
    margin: 0; 
    float: none;
}

#navbar .submenu li a {
    white-space: nowrap;
    display: block;
    width: auto;
}

#navbar ul li:hover > ul {
    display: block;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.columns {
    width: 31%;
    margin:0 0.5em;
    padding: 0px;
    display: inline-block;
    z-index:-1;
}

p.clear{
    clear:right;
}

img {
    width: 30%;
    float:right;
    align-content:center;
    margin:10px;
}