body{
    font-family:sans-serif;
    color: #464646;
    line-height:1.5em;
    font-size: 1em;
    margin: 65px 1.5em 0px;
    padding: 0px;
    max-width: 1024px;
}



#navbar {
    background-color: #e3e3e3;
    width:100%;
    float:left;
    color: #333333;
    display:block;
    position:fixed;
    top: 0;
    left:0;
    margin: 0;
    Padding: 0;
} 

#navbar ul {
    list-style-type: none;
    display:inline;
    line-height: 40px;
    margin: 0 auto;
    padding: 0px;
    width:1000px;
}


#navbar li{
    float:left;
    display:inline-block;
    margin:0 0 0 25px;
}

#navbar li:first-child a {
	border-left: 1px solid #ccc; }

.columns {
    width: 31%;
    margin:0 0.5em;
    padding: 0px;
    position:relative;
    display: inline-block;
    z-index:-1;
}